<h1>Movies</h1>
<%= link_to '+ New Movie', new_movie_path %>

    <% @movies.each do |movie| %>
      <article class="movie">
        <h2><%= movie.title %> <span class="release-date">(<%= movie.release_date %>)</span></h2>
        <h3>Directred by <%= movie.director %></h3>
        <p><%= movie.rating %> | <%= movie.description %></p>
        <p><%= link_to 'Show', movie %> | <%= link_to 'Edit', edit_movie_path(movie) %> | <%= link_to 'Delete', movie, method: :delete, data: { confirm: 'Are you sure you want to delete #{movie.name}?' } %></p>
        <hr>
        </article>
    <% end %>
