<h1>Games</h1>
<%= link_to '+ New Game', new_game_path %>

    <% @games.each do |game| %>
      <article class="game">
        <h2><%= game.title %> <span class="release-date">(<%= game.release_date %>)</span></h2>
        <h3><%= game.author %></h3>
        <p><%= game.description %></p>
        <p><%= link_to 'Show', game %> | <%= link_to 'Edit', edit_game_path(game) %> | <%= link_to 'Delete', game, method: :delete, data: { confirm: 'Are you sure you want to delete #{game.name}?' } %></p>
        <hr>
        </article>
    <% end %>
