<p>
  <strong>Title:</strong>
  <%= @game.title %>
</p>

<p>
  <strong>Author:</strong>
  <%= @game.author %>
</p>

<p>
  <strong>Description:</strong>
  <%= @game.description %>
</p>

<p>
  <strong>Release date:</strong>
  <%= @game.release_date %>
</p>

<h2>Reviews</h2>
<%= render "reviews/review" %>

<h4>Leave a Review</h4>
<%= render "reviews/form" %>

<%= link_to 'Edit', edit_game_path(@game) %> |
<%= link_to 'Back', games_path %>
