<h1>Books</h1>
<%= link_to '+ New Book', new_book_path %>

    <% @books.each do |book| %>
      <article class="book">
        <h2><%= book.title %> <span class="release-date">(<%= book.release_date %>)</span></h2>
        <h3><%= book.author %></h3>
        <p><%= book.description %></p>
        <p><%= link_to 'Show', book %> | <%= link_to 'Edit', edit_book_path(book) %> | <%= link_to 'Delete', book, method: :delete, data: { confirm: 'Are you sure you want to delete #{book.name}?' } %></p>
        <hr>
        </article>
    <% end %>

