<p>
  <strong>Title:</strong>
  <%= @album.title %>
</p>

<p>
  <strong>Band name:</strong>
  <%= @album.band_name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @album.description %>
</p>

<p>
  <strong>Release date:</strong>
  <%= @album.release_date %>
</p>

<h2>Reviews</h2>
<%= render "reviews/review" %>

<h4>Leave a Review</h4>
<%= render "reviews/form" %>

<%= link_to 'Edit', edit_album_path(@album) %> |
<%= link_to 'Back', albums_path %>
